body{

}
::-webkit-scrollbar{
    width: 3px;
    border-radius: 25px;
}
::-webkit-scrollbar-track{
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb{
    background: #ddd;
}
::-webkit-scrollbar-thumb:hover{
    background: #ccc;}

.container{
  background-color: #393a47;
  padding-bottom: 100px;
  padding-top: 100px;
  max-width: 970px;
}
.form-inline .form-group .form-control{
  background-color: #393a47;
  border-top: none;
  border-left: none;
  border-right: none;
border-bottom: 3px solid white;
}
.form-inline .btn .btn-default {
  background: #393a47;
  border: 3px;
  border-color: white;
}
